
/*
 * Component: Timeline
 * -------------------
 */
 .timeline {
	position: relative;
	margin: 0 0 30px 0;
	padding: 0;
	list-style: none;
  }
  .timeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 4px;
	background: #1a2035;
	left: 31px;
	margin: 0;
	border-radius: 2px;
  }
  .timeline > li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 15px;
  }
  .timeline > li:before,
  .timeline > li:after {
	content: " ";
	display: table;
  }
  .timeline > li:after {
	clear: both;
  }
  .timeline > li > .timeline-item {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	margin-top: 0;
	background: #1a2035 !important;
	color: #fff;
	margin-left: 60px;
	margin-right: 15px;
	padding: 0;
	position: relative;
  }
  .timeline > li > .timeline-item > .time {
	color: #999;
	float: right;
	padding: 10px;
	font-size: 12px;
  }
  .timeline > li > .timeline-item > .timeline-header {
	margin: 0;
	color: #fff;
	border-bottom: 1px solid #101421 !important;
	padding: 10px;
	font-size: 16px;
	line-height: 1.1;
  }
  .timeline > li > .timeline-item > .timeline-header > a {
	font-weight: 600;
  }
  .timeline > li > .timeline-item > .timeline-body,
  .timeline > li > .timeline-item > .timeline-footer {
	padding: 10px;
  }
  .timeline > li > .material-icons,
  .timeline > li > .fa,
  .timeline > li > .glyphicon,
  .timeline > li > .ion {
	width: 30px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	position: absolute;
	color: #666;
	background: #1a2035;
	border-radius: 50%;
	text-align: center;
	left: 18px;
	top: 0;
  }
  .timeline > .time-label > span {
	font-weight: 600;
	padding: 5px;
	display: inline-block;
	background-color: #1a2035;
	border-radius: 4px;
	color: white;
  }
  .timeline-inverse > li > .timeline-item {
	background: #1a2035;
	border: 1px solid #101421;
	-webkit-box-shadow: none;
	box-shadow: none;
  }
  .timeline-inverse > li > .timeline-item > .timeline-header {
	border-bottom-color: #101421;
  }

  button i:hover{
	  cursor: pointer;
  }