{% extends 'template.html' %}
{% block title %}Companies List{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="card card-plain">
			<div class="card-header card-header-primary">
				<h4 class="card-title ">Companies Table</h4>
				<p class="card-category">Listed below are the companies partnered with the system.</p>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="table" class="table table-hover">
						<thead class=" text-primary">
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for company in companies %}
							<tr>
								<td>{{ company._id }}</td>
								<td>{{ company.name }}</td>
								<td>{{ company.email }}</td>
								<td class="action">
									{% if company.email == session['email'] %}
									<small><i>This is you...</i></small>
									{% else %}
									<a href="{{ url_for('admin_delete_admin', admin_id=company._id) }}">
										<span class="fa fa-trash red-text text-darken-2"></span>
									</a>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer">
				<a href="{{ url_for('admin_new_company') }}" class="btn btn-primary btn-small">Add new company partner</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block onload_script %}
$('#table').DataTable();
{% endblock %}