{% extends "template.html" %}
{% block title %}{{ user.name }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12 col-md-4">
		<div class="card card-profile">
			<div class="card-avatar">
				<a href="javascript:void(0)">
					<img src="{{ url_for('static', filename='images/icon.png') }}" alt="" class="img">
				</a>
			</div>
			<div class="card-body">
				<h6 class="card-category">• member •</h6>
				<h4 class="card-title">{{ user.name }}</h4>
				<hr>
				<p class="card-description"><span class="gray-text text-lighten-4">{{ user._id }}</span><br/><small>Use this to recieve money from other people.</small></p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h6 class="card-category">savings balance</h6>
				<h4 class="card-title">&#8369; {{ commarize(user.money) }}</h4>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h6 class="card-category">current balance</h6>
				<h4 class="card-title">&#8369; {{ commarize(user.current) }}</h4>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-7">
		<div class="card">
			<div class="card-header card-header-info">
				<h4 class="card-title ">Transaction History</h4>
			</div>
			<div class="card-body">
				<ul class="timeline timeline-inverse">
					{% for date, activities in timeline.items() %}
						<li class="time-label">
							<span class="purple">
								{{ date }}
							</span>
						</li>
						{% for activity in activities %}
							{% set timestamp = '{}'.format(activity.timestamp).split('.')[0] %}
							<li>
								{% if activity.category == 'deposit' %}
								<i class="material-icons yellow black-text">add_circle</i>
								{% elif activity.category == 'withdraw' %}
								<i class="material-icons red black-text">remove_circle</i>
								{% elif activity.category in ['transfer', 'recieve'] %}
								<i class="material-icons bg-info white-text">send</i>
								{% elif activity.category == 'account' %}
								<i class="material-icons bg-info lighten-2 black-text">account_circle</i>
								{% endif %}
								<div class="timeline-item">
									<span class="time"><i class="far fa-clock grey-text"></i> <time data-value="{{ timestamp }}">{{ timestamp }}</time></span>
									<h3 class="timeline-header"><b>{{ activity.category.title() }}</b> {% if activity.type %}<small>({{ activity.type.title() }})</small>{% endif %}</h3>
									<div class="timeline-body">
										{% if activity.category == 'deposit' %}
										This user has deposited &#8369; {{ commarize(activity.amount) }}
										{% elif activity.category == 'withdraw' %}
										This user has withdrawn &#8369; {{ commarize(activity.amount) }}
										{% elif activity.category == 'transfer' %}
										This user has transfered &#8369; {{ commarize(activity.amount) }} to {{ activity.to }}
										{% elif activity.category == 'recieve' %}
										This user has recieved &#8369; {{ commarize(activity.amount) }} from {{ activity.from }}
										{% elif activity.category == 'account' %}
										This user has created their account.
										{% endif %}
									</div>
								</div>
							</li>
						{% endfor %}
					{% endfor %}
					<li>
					<i class="fa fa-clock bg-gray"></i>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<form action="{{ url_for('user_transfer') }}" method="post" id="transfer_form"></form>
<form action="{{ url_for('user_deposit') }}" method="post" id="deposit_form"></form>
<form action="{{ url_for('user_withdraw') }}" method="post" id="withdraw_form"></form>
{% endblock %}
{% block onload_script %}
function computeTime(){
    $('time').each(function(){
        let $this = $(this);
        let s = $this.data('value');
        let actionTime = moment(s + "+08:00", "YYYY-MM-DD HH:mm:ssZ");
        let timeAgo = actionTime.fromNow();
        $this.html(timeAgo);
    });
}
computeTime();
setInterval(computeTime(), 30000);
{% endblock %}