{% extends 'template.html' %}
{% block title %}Add New Admin{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="card card-plain">
			<div class="card-header card-header-primary">
				<h4 class="card-title ">Add New Admin</h4>
				<p class="card-category">Input the new admin details below.</p>
			</div>
			<div class="card-body">
				<div class="form-group mb-3">
					<label class="bmd-label-floating">Name</label>
					<input type="text" class="form-control" name="name" form="form1" required>
				</div>
				<div class="form-group mb-3">
					<label class="bmd-label-floating">Email address</label>
					<input type="email" class="form-control" name="email" form="form1" required>
				</div>
				<div class="form-group">
					<label class="bmd-label-floating">Password</label>
					<input type="password" class="form-control" name="password" form="form1" required>
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary btn-small" form="form1">SUBMIT</button>
			</div>
		</div>
	</div>
</div>
<form action="{{ url_for('admin_new_admin_submit') }}" method="post" id="form1"></form>
{% endblock %}