{% extends "template.html" %}
{% block title %}Transactions History{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header card-header-info">
				<h4 class="card-title ">All Transactions History</h4>
			</div>
			<div class="card-body">
				<ul class="timeline timeline-inverse">
					{% for date, activities in timeline.items() %}
						<li class="time-label">
							<span class="purple">
								{{ date }}
							</span>
						</li>
						{% for activity in activities %}
							{% set timestamp = '{}'.format(activity.timestamp).split('.')[0] %}
							<li>
								{% if activity.category == 'deposit' %}
								<i class="material-icons yellow black-text">add_circle</i>
								{% elif activity.category == 'withdraw' %}
								<i class="material-icons red black-text">remove_circle</i>
								{% elif activity.category in ['transfer', 'recieve'] %}
								<i class="material-icons bg-info white-text">send</i>
								{% elif activity.category == 'account' %}
								<i class="material-icons bg-info lighten-2 white-text">account_circle</i>
								{% endif %}
								<div class="timeline-item">
									<span class="time"><i class="far fa-clock grey-text"></i> <time data-value="{{ timestamp }}">{{ timestamp }}</time></span>
									<h3 class="timeline-header"><b>{{ activity.category.title() }}</b> {% if activity.type %}<small>({{ activity.type.title() }})</small>{% endif %}</h3>
									<div class="timeline-body">
										{% if activity.category == 'deposit' %}
										{{ activity.email }} has deposited &#8369; {{ commarize(activity.amount) }}
										{% elif activity.category == 'withdraw' %}
										{{ activity.email }} has withdrawn &#8369; {{ commarize(activity.amount) }}
										{% elif activity.category == 'transfer' %}
										{{ activity.email }} has transfered &#8369; {{ commarize(activity.amount) }} to {{ activity.to }}
										{% elif activity.category == 'recieve' %}
										{{ activity.email }} has recieved &#8369; {{ commarize(activity.amount) }} from {{ activity.from }}
										{% elif activity.category == 'account' %}
										{{ activity.email }} has created their account.
										{% endif %}
									</div>
								</div>
							</li>
						{% endfor %}
					{% endfor %}
					<li>
					<i class="fa fa-clock bg-gray"></i>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block onload_script %}
function computeTime(){
    $('time').each(function(){
        let $this = $(this);
        let s = $this.data('value');
        let actionTime = moment(s + "+08:00", "YYYY-MM-DD HH:mm:ssZ");
        let timeAgo = actionTime.fromNow();
        $this.html(timeAgo);
    });
}
computeTime();
setInterval(computeTime(), 30000);
{% endblock %}