{% extends 'template.html' %}
{% block title %}Users List{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="card card-plain">
			<div class="card-header card-header-primary">
				<h4 class="card-title ">Users Table</h4>
				<p class="card-category">Listed below are the users of the system. If you want to add a user, go to the home page and register him/her there.</p>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="table" class="table table-hover">
						<thead class=" text-primary">
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% if length == 0 %}
							<tr>
								<td colspan="4" class="text-center"><i>There are no users yet...</i></td>
							</tr>
							{% else %}
							{% for user in users %}
							<tr>
								<td>{{ user._id }}</td>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td class="action">
									<a href="{{ url_for('admin_home', email=user.email) }}">
										<span class="fa fa-search orange-text text-darken-2" rel="tooltip" title="View Profile"></span>
									</a>
									<a href="{{ url_for('admin_delete_user', user_id=user._id) }}">
										<span class="fa fa-trash red-text text-darken-2" rel="tooltip" title="Remove"></span>
									</a>
								</td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block onload_script %}
$('#table').DataTable();
{% endblock %}