<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    The Bank• Prototype 
  </title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/nucleo-icons.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/blk-design-system.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet" />
</head>

<body class="index-page">
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{{ url_for('landing') }}" rel="tooltip" title="Inspired by the design of Creative and lusion.co" data-placement="bottom" target="_blank">
          <span>The Bank• Prototype</span> 
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                The Bank• Prototype
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="body-contai">
    <div id="container"></div>
  </div>
  <div class="wrapper">
    <div class="page-header">
      <img src="{{ url_for('static', filename='images/triunghiuri.png') }}" class="shapes triangle">
      <img src="{{ url_for('static', filename='images/waves.png') }}" class="shapes wave">
      <img src="{{ url_for('static', filename='images/patrat.png') }}" class="shapes squares">
      <img src="{{ url_for('static', filename='images/cercuri.png') }}" class="shapes circle">
      <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
            <h1 class="text-white">Where <b>frugality</b>
              <br/>
              <span class="text-white">meets <b>technology</b></span>
            </h1>
            <p class="text-white mb-3">Keeping your money secure through the power of blockhain technology</p>
            <div class="btn-wrapper mb-3">
              <p class="category text-success d-inline">Free of Charge</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-5">
            <img src="{{ url_for('static', filename='images/etherum.png') }}" alt="Circle image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <section class="section section-lg">
      <section class="section">
        <div class="container">
          <div class="row row-grid justify-content-between">
            <div class="col-md-5 mt-lg-5">
              <div class="row">
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-settings text-warning"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">1
                              <p>
                                <p class="card-category"><small>No. of developers in the team</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats upper bg-default">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-coins text-white"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">{{ total_transactions }}
                              <p>
                                <p class="card-category">Total Transactions</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-single-02 text-info"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">{{ total_users }}
                              <p>
                                <p class="card-category">Users</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-wallet-43 text-success"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">{{ total_blocks }}
                              <p>
                                <p class="card-category">Blocks</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-5">
              <div class="pl-md-5">
                <h1>Our
                  <br/>Achievements</h1>
                <p>By going through various levels and a <i>lot</i> of testing, our system can provide more security in transactions.</p>
                <br/>
                <p>Blocks, or transactions, are more safe than ever due to our own algorithm in computing and verifying the blocks. Scroll down a bit more to see what you can gain.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h1 class="text-center">Your best benefit</h1>
            <div class="row row-grid justify-content-center" style="margin-top: -100px; margin-bottom: 100px;">
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="tim-icons icon-money-coins"></i>
                  </div>
                  <h4 class="info-title">No Commission</h4>
                  <hr class="line-primary">
                  <p>Depending on your transaction, we won't charge you unlike some banks; also, we won't take your money at the end of the month just because you don't reach the minimum amount.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="tim-icons icon-delivery-fast"></i>
                  </div>
                  <h4 class="info-title">Speed</h4>
                  <hr class="line-success">
                  <p>Ever experience delay in your transactions? Like when people send you money and you don't recieve, yet said people have money reduced in their account? Our system offers the speed like when your pet sees it's first meal of the day</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-warning">
                    <i class="tim-icons icon-chart-pie-36"></i>
                  </div>
                  <h4 class="info-title">Secure Transactions</h4>
                  <hr class="line-warning">
                  <p>As we <i>CANNOT</i> stress this enough. Your information will never have any leakage. Our services will provide the most secure technologies to keep you safe. Not even our developers can access your data.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg section-safe">
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-5">
            <img src="{{ url_for('static', filename='images/chester-wade.jpg') }}" class="img-fluid floating">
            <div class="card card-stats bg-danger">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">{{ safe_percentage }}%</p>
                    <p class="card-category text-white">Safe</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-stats bg-info">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">{{ total_users }}</p>
                    <p class="card-category text-white">Satisfied customers</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-stats bg-default">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">{{ total_companies }}</p>
                    <p class="card-category text-white"><small>Companies using our API</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="px-md-5">
              <hr class="line-success">
              <h3>Awesome features</h3>
              <p>The system comes with beautifully developed pages to help you do your business.</p>
              <ul class="list-unstyled mt-3">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-vector"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Carefully crafted components</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-tap-02"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Amazing page design</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-single-02"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Super friendly support team</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="col-md-12">
        <div class="card card-chart card-plain">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6 text-left">
                <hr class="line-primary">
                <h5 class="card-category">Total Transactions</h5>
                <h2 class="card-title">Performance</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section section-signup" style="margin-top: -100px;">
      <div class="container">
        <div class="squares square-1"></div>
        <div class="squares square-2"></div>
        <div class="squares square-3"></div>
        <div class="squares square-4"></div>
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-6">
            <h3 class="display-3 text-white">Register now!
            </h3>
            <p class="text-grey mb-3">By registering to our system, you agree to give your information to us. We assure you that we will not use this system to generate ads; rather, your information will be used to improve our products.</p>
          </div>
          <div class="col-lg-6 mb-lg-auto">
            <div class="card card-register">
              <div class="card-header">
                <img class="card-img" src="{{ url_for('static', filename='images/square1.png') }}" alt="Card image">
                <h4 class="card-title" style="padding-left: 10px;">Register</h4>
              </div>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-single-02"></i>
                    </div>
                  </div>
                  <input type="text" class="form-control" placeholder="Full Name" form="form1" name="name" required>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-email-85"></i>
                    </div>
                  </div>
                  <input type="text" placeholder="Email" class="form-control" form="form1" name="email" required>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-lock-circle"></i>
                    </div>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" form="form1" name="password" required>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-info btn-round btn-lg" form="form1" type="submit">GET STARTED</button>
                <br/>
                <span class="float-left mt-4">Already have an account? Click <a href="{{ url_for('user_login') }}">here</a> to login.</span>
              </div>
              <form action="{{ url_for('user_add_submit') }}" method="post" id="form1"></form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h1 class="title">The Bank• Prototype <p></p></h1>
          </div>
          <div class="col-md-3">
            <h3 class="title">Follow us:</h3>
            <div class="btn-wrapper profile">
              <a target="_blank" href="https://twitter.com/d0nggi" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/dgabrielablay" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a target="_blank" href="https://instagram.com/d0nggi" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/bootstrap-switch.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/nouislider.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/chartjs.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/bootstrap-datetimepicker.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/blk-design-system.min.js') }}"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
  <script src="{{ url_for('static', filename='js/OrbitControls.js') }}"></script>
  <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
  <script>
    $(document).ready(function() {
      blackKit.initDatePicker();
      blackKit.initSliders();
      demo.initLandingPageChart();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
</body>
</html>