<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{% block title %}{% endblock %} | The Bank• Prototype</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='main/css/material-dashboard.css') }}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{{ url_for('static', filename='main/demo/demo.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/timeline.css') }}" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="{{ url_for('static', filename='main/img/sidebar-1.jpg') }}">
      <div class="logo">
        <a href="{{ url_for('landing') }}" class="simple-text logo-normal text-white">
			<b>The Bank• Prototype</b>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
			{% if 'type' in session %}
				{% if session['type'] == 'admin' %}
					<li class="nav-item {{ ('', 'active')[request.path == url_for('admin_admins')] }}">
						<a class="nav-link" href="{{ url_for('admin_admins') }}">
							<i class="material-icons">assignment_ind</i>
							<p>Admin List</p>
						</a>
					</li>
					<li class="nav-item {{ ('', 'active')[request.path == url_for('admin_companies')] }}">
						<a class="nav-link" href="{{ url_for('admin_companies') }}">
							<i class="material-icons">domain</i>
							<p>Companies List</p>
						</a>
					</li>
					<li class="nav-item {{ ('', 'active')[request.path == url_for('admin_users_list')] }}">
						<a class="nav-link" href="{{ url_for('admin_users_list') }}">
							<i class="material-icons">account_circle</i>
							<p>Users List</p>
						</a>
          </li>
					<li class="nav-item {{ ('', 'active')[request.path == url_for('admin_transactions')] }}">
						<a class="nav-link" href="{{ url_for('admin_transactions') }}">
							<i class="material-icons">calendar_today</i>
							<p>Transactions</p>
						</a>
          </li>
        {% else %}
          <li class="nav-item {{ ('', 'active')[request.path == url_for('user_home')] }}">
            <a class="nav-link" href="{{ url_for('user_home') }}">
              <i class="material-icons">home</i>
              <p>Home</p>
            </a>
          </li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link red white-text" href="{{ url_for('logout') }}">
						<i class="material-icons">arrow_right</i>
						<p>Logout</p>
					</a>
				</li>
			{% else %}
				<li class="nav-item active">
					<a class="nav-link" href="#">
						<i class="material-icons">arrow_right</i>
						<p>Login</p>
					</a>
				</li>
			{% endif %}
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">{{ self.title() }}</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
        </div>
      </nav>
      <div class="content">
        <div class="container-fluid">
			{% block content %}
			{% endblock %}
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  About Us
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right" id="date">
            , made with <i class="material-icons">favorite</i> by
            <span class="text-white">Ablay</span>.
          </div>
        </div>
      </footer>
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>
  <script src="{{ url_for('static', filename='main/js/core/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main/js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main/js/core/bootstrap-material-design.min.js') }}"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="{{ url_for('static', filename='main/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="{{ url_for('static', filename='main/js/plugins/chartist.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main/js/plugins/bootstrap-notify.js') }}"></script>
  <script src="{{ url_for('static', filename='main/js/material-dashboard.js') }}"></script>
  <script src="{{ url_for('static', filename='main/demo/demo.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

		});
		{% block onload_script %}
		{% endblock %}
      });
    });
    {% block offload_script %}
    {% endblock %}
  </script>
  <script>
    $(document).ready(function() {
      md.initDashboardPageCharts();
    });
  </script>
</body>

</html>