{% extends "template.html" %}
{% block title %}User home{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="row mb-2">
	<div class="col-sm-12">
		{% for category, message in messages %}
			{% if category == 'error' %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
			{% elif category == 'success' %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}
{% endwith %}
<div class="row">
	<div class="col-sm-12 col-md-4">
		<div class="card card-profile">
			<div class="card-avatar">
				<a href="javascript:void(0)">
					<img src="{{ url_for('static', filename='images/icon.png') }}" alt="" class="img">
				</a>
			</div>
			<div class="card-body">
				<h6 class="card-category">• member •</h6>
				<h4 class="card-title">{{ user.name }}</h4>
				<hr>
				<p class="card-description"><span class="grey-text text-lighten-1">{{ user._id }}</span><br/><small>Use this to recieve money from other people.</small></p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h6 class="card-category">savings balance</h6>
				<h4 class="card-title">&#8369; {{ commarize(user.money) }}</h4>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="input-group-text transparent" type="submit" form="deposit_form">
									<i class="material-icons">add</i>
								</button>
							</div>
							<div class="form-group" style="width: 70%;">
								<input type="number" name="amount_deposit" min="200" max="150000" id="amount_deposit" class="form-control" form="deposit_form" placeholder="Amount to deposit" required>
								<span class="bmd-help">Minimum of &#8369; 200.00</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="input-group-text transparent" type="submit" form="withdraw_form">
									<i class="material-icons">remove</i>
								</button>
							</div>
							<div class="form-group" style="width: 70%;">
								<input type="number" name="amount_withdraw" min="1" max="{{ user.money }}" id="amount_withdraw" class="form-control" form="withdraw_form" placeholder="Amount to withdraw" required>
								<span class="bmd-help">Minimum of &#8369; 1.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h6 class="card-category">current balance</h6>
				<h4 class="card-title">&#8369; {{ commarize(user.current) }}</h4>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="input-group-text transparent" type="submit" form="deposit_current_form">
									<i class="material-icons">add</i>
								</button>
							</div>
							<div class="form-group" style="width: 70%;">
								<input type="number" name="amount_deposit" min="200" max="150000" id="amount_deposit" class="form-control" form="deposit_current_form" placeholder="Amount to deposit" required>
								<span class="bmd-help">Minimum of &#8369; 200.00</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="input-group-text transparent" type="submit" form="withdraw_current_form" {% if user.current < 1 %}disabled{% endif %}>
									<i class="material-icons">remove</i>
								</button>
							</div>
							<div class="form-group" style="width: 70%;">
								<input type="number" name="amount_withdraw" {% if user.current < 1 %}disabled{% else %}min="1" max="{{ user.current }}"{% endif %} id="amount_withdraw" class="form-control" form="withdraw_current_form" placeholder="Amount to withdraw" required>
								<span class="bmd-help">Minimum of &#8369; 1.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Transfer savings to other users</h4>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text transparent">
									<i class="material-icons">account_circle</i>
								</span>
							</div>
							<div class="form-group" style="width: 70%;">
								<input type="text" name="user_id" id="user_id" class="form-control" form="transfer_form" placeholder="User ID" required>
								<span class="bmd-help">User ID of the reciever</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="input-group-text transparent" type="submit" form="transfer_form">
									<i class="material-icons">send</i>
								</button>
							</div>
							<div class="form-group" style="width: 70%;">
								<input type="number" name="amount_transfer" min="1" max="{{ user.money }}" id="amount_transfer" class="form-control" form="transfer_form" placeholder="Amount to transfer" required>
								<span class="bmd-help">Minimum of &#8369; 1.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Pay bills</h4>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text transparent">
									<i class="material-icons">account_circle</i>
								</span>
							</div>
							<div class="form-group" style="width: 70%;">
								<select name="company_id" id="company_id" class="form-control" form="bills_form">
									<option value="" disabled selected>Choose company</option>
									{% for company in companies %}
									<option value="{{ company._id }}">{{ company.name.title() }}</option>
									{% endfor %}
								</select>
								<!-- <input type="text" name="user_id" id="user_id" class="form-control" form="transfer_form" placeholder="User ID" required> -->
								<span class="bmd-help">Company of your bills payment</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="input-group-text transparent" type="submit" form="bills_form">
									<i class="material-icons">send</i>
								</button>
							</div>
							<div class="form-group" style="width: 70%;">
								<input type="number" name="amount_transfer" min="100" id="amount_transfer" class="form-control" form="bills_form" placeholder="Amount to pay" required>
								<span class="bmd-help">Minimum of &#8369; 100.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Change pin <small class="grey-text text-darken-2">Default PIN is 0000</small></h4>
				<div class="input-group">
					<input type="password" name="old_pin" minlength="4" maxlength="4" class="form-control mb-2" form="change_pin_form" placeholder="Previous PIN" required onkeypress="return isNumberKey(event);">
				</div>
				<div class="input-group">
					<input type="password" name="new_pin" minlength="4" maxlength="4" class="form-control mb-2" form="change_pin_form" placeholder="New PIN" required onkeypress="return isNumberKey(event);">
				</div>
				<div class="input-group">
					<input type="password" name="confirm_pin" minlength="4" maxlength="4" class="form-control mb-2" form="change_pin_form" placeholder="Confirm PIN" required onkeypress="return isNumberKey(event);">
				</div>
				<div class="input-group">
					<button type="submit" form="change_pin_form" class="btn btn-small" style="width: 100%;">submit</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-8">
		<div class="card">
			<div class="card-header card-header-info">
				<h4 class="card-title ">Your Transaction History</h4>
			</div>
			<div class="card-body">
				<ul class="timeline timeline-inverse">
					{% for date, activities in timeline.items() %}
						<li class="time-label">
							<span class="purple">
								{{ date }}
							</span>
						</li>
						{% for activity in activities %}
							{% set timestamp = '{}'.format(activity.timestamp).split('.')[0] %}
							<li>
								{% if activity.category == 'deposit' %}
								<i class="material-icons yellow black-text">add_circle</i>
								{% elif activity.category in ['withdraw', 'transfer fee'] %}
								<i class="material-icons red black-text">remove_circle</i>
								{% elif activity.category in ['transfer', 'recieve'] %}
								<i class="material-icons bg-info white-text">send</i>
								{% elif activity.category == 'account' %}
								<i class="material-icons bg-info lighten-2 black-text">account_circle</i>
								{% endif %}
								<div class="timeline-item">
									<span class="time"><i class="far fa-clock grey-text"></i> <time data-value="{{ timestamp }}">{{ timestamp }}</time></span>
									<h3 class="timeline-header"><b>{{ activity.category.title() }}</b> {% if activity.type %}<small>({{ activity.type.title() }})</small>{% endif %}</h3>
									<div class="timeline-body">
										{% if activity.category == 'deposit' %}
										You have deposited &#8369; {{ commarize(activity.amount) }}
										{% elif activity.category == 'withdraw' %}
										You have withdrawn &#8369; {{ commarize(activity.amount) }}
										{% elif activity.category == 'transfer' %}
										You have transfered &#8369; {{ commarize(activity.amount) }} to {{ activity.to }}
										{% elif activity.category == 'transfer fee' %}
										You have been deducted &#8369; {{ commarize(activity.amount) }} as a fee for having a negative balance.
										{% elif activity.category == 'recieve' %}
										You have recieved &#8369; {{ commarize(activity.amount) }} from {{ activity.from }}
										{% elif activity.category == 'account' %}
										You have created your account.
										{% endif %}
									</div>
								</div>
							</li>
						{% endfor %}
					{% endfor %}
					<li>
					<i class="fa fa-clock bg-gray"></i>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<form action="{{ url_for('user_transfer') }}" method="post" id="transfer_form" class="transaction_form"></form>
<form action="{{ url_for('user_deposit') }}" method="post" id="deposit_form" class="transaction_form"></form>
<form action="{{ url_for('user_withdraw') }}" method="post" id="withdraw_form" class="transaction_form"></form>

<form action="{{ url_for('user_pay_bill') }}" method="post" id="bills_form" class="transaction_form"></form>
<form action="{{ url_for('user_current_deposit') }}" method="post" id="deposit_current_form" class="transaction_form"></form>
<form action="{{ url_for('user_current_withdraw') }}" method="post" id="withdraw_current_form" class="transaction_form"></form>

<form action="{{ url_for('user_pin_change') }}" method="post" id="change_pin_form"></form>
{% endblock %}
{% block onload_script %}
function computeTime(){
    $('time').each(function(){
        let $this = $(this);
        let s = $this.data('value');
        let actionTime = moment(s + "+08:00", "YYYY-MM-DD HH:mm:ssZ");
        let timeAgo = actionTime.fromNow();
        $this.html(timeAgo);
    });
}
computeTime();
setInterval(computeTime(), 30000);
{% endblock %}
{% block offload_script %}
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode
    return !(charCode > 31 && (charCode < 48 || charCode > 57));
}
$('.transaction_form').each(function(){
	let $this = $(this);
	$this.submit(function(event){
		event.preventDefault();
		Swal.fire({
			title: 'Input your PIN',
			input: 'password',
			inputAttributes: {
				autocapitalize: 'off',
				minLength: 4,
				maxLength: 4
			},
			showCancelButton: true,
			confirmButtonText: 'Submit',
			showLoaderOnConfirm: true,
			preConfirm: (pin) => {
			  return fetch(`/user/pin/request/${pin}`)
				.then(response => {
				  if (!response.ok) {
					throw new Error(response.statusText)
				  }
				  return response.json()
				})
				.catch(error => {
				  Swal.showValidationMessage(
					`Request failed: ${error}`
				  )
				})
			},
			allowOutsideClick: () => !Swal.isLoading()
		}).then((result) => {
			result = result.value;
			console.log(result);
			if (result.correct) {
				Swal.fire(
					'Correct PIN!',
					'Transaction processing...',
					'success'
				)
				$this.unbind('submit').submit();
			}else{
				Swal.fire(
					'Invalid PIN!',
					'',
					'error'
				)
			}
		})
	});
});
{% endblock %}