{% extends 'template.html' %}
{% block title %}User Login{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12 col-md-6 offset-md-3">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title ">User Login</h4>
				<p class="card-category">Input your credentials below.</p>
			</div>
			<div class="card-body">
				<div class="form-group mb-3">
					<label class="bmd-label-floating">Email address</label>
					<input type="email" class="form-control" name="email" form="form1">
				</div>
				<div class="form-group">
					<label class="bmd-label-floating">Password</label>
					<input type="password" class="form-control" name="password" form="form1">
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary btn-small" form="form1">SUBMIT</button>
			</div>
		</div>
	</div>
</div>
<form action="{{ url_for('user_login_submit') }}" method="post" id="form1"></form>
{% endblock %}